@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

:root {
    --cor-de-fundo:#333333;
    --texto1:#15ff00;
    --texto2: rgb(251, 226, 0);
    --botao-ativo:#6b6794;
    --botao-inativo:rgba(23, 18, 85, 0.5);
    --texo-fundo:rgba(25, 2, 129, 0.5);
}

body{
    background-image: url(img/maxresdefault.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    color:var(--texto1);
    font-family:"Bebas Neue";
    font-size: 50px;
    
}

.botao {
    background-color: rgb(33, 40, 139);
    color: rgb(43, 255, 0);
    font-family: "Bebas Neue";
    background-color: var(--botao-inativo);
    display: flex;
    color: var(--texto1);
    justify-content: center;
    padding: 1em;
    font-size: 50px;
    align-items: center;
    width:100%;
}

.Conteudoprincipal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    margin: 0 auto;
    height: 100vh;
}

.tituloprincipal {
    text-align: left;
    width: 100%;
    font-size: 70px;
}

.botoes {
    display: flex;
}
.botao:first-child {
    border-radius:40px 0 0 0;
}

.botao:last-child {
    border-radius:0 40px 0 0;
}

.botao.ativo {
    background:var(--botao-ativo);
    border-bottom: 7px solid rgb(251, 226, 0);

}

.aba-textos {
    background-color: var(--texo-fundo) ;
    border-radius:0 0 40px 40px;
    padding: 80px;

}

.aba-conteudo.ativo {
    display:block;

}

.aba-conteudo {
    display: none;
}

.aba-coneudo-titulo-principal {
    font-size: 70px;
    text-align: left;
}

.aba-coneudo-titulo-secundario {
    color: var(--texto2);
    text-transform: uppercase;
    width: 80vw;
}

